<h2>Registration and authentication</h2>
<html>
 <head></head>
 <body>
  <p>To access service's customization, users should have personal accounts so that they can perform actions related only to them: for example, save personal preferences, post articles, or make purchases.</p> 
  <p>If you are an active Internet user, you're probably familiar with the sign-up, login and logout operations. Django provides the means to add those operations easily. In this topic, you will learn how to add registration and authentication to a service.</p> 
  <h2>User Model</h2> 
  <p>To distinguish one user from another, we need to store their identification information on the server. On websites, it's usually a unique username or email address. Both characteristics may be stored in the default <code class="language-python">User</code> model.</p> 
  <p></p>
  <div class="alert alert-primary">
   To start working with the User model, run 
   <code class="language-python">python manage.py migrate</code> from the root of your project. If you don't change any settings, you will have an SQLite database attached to your project.
  </div>
  <p></p> 
  <p>After you've made initial migrations you can create new accounts. Mostly, the clients of your service will create accounts by themselves, but let's see how you can create a <em>usual user</em> and a <em>superuser</em> in the database from the console.</p> 
  <p>Superuser is an admin account for your service. Being a superuser you can access and manipulate any data in the database. Usual users, by contrast, can manipulate only their own data.</p> 
  <p>To use an initialized console client, run <code class="language-python">python manage.py shell</code> command.</p> 
  <pre><code class="language-python">from django.contrib.auth.models import User


User.objects.create_superuser(
   username='admin', email='admin@example.com', password='SeCreTPaSsWorD'
)

User.objects.create_user(
   username='usual_user', email='user@example.com', password='NotSecRetAtAll'
)</code></pre> 
  <p>As you may have guessed, <code class="language-python">create_user</code> method creates a usual user and <code class="language-python">create_superuser</code> creates a superuser in your database. You're not likely to need the <code class="language-python">create_user</code> method often, but you will need a console method to make the first admin account.</p> 
  <p></p>
  <div class="alert alert-primary">
   Another way to create a superuser is the 
   <a target="_blank" href="https://docs.djangoproject.com/en/2.2/ref/django-admin/#createsuperuser" rel="noopener noreferrer nofollow">helper command</a> using with manage.py module.
  </div>
  <p></p> 
  <h2>Preparing URLs</h2> 
  <p>To separate each action, we should choose the URL addresses for login, logout, and signup operations. You should update the <code class="language-python">urlpatterns</code> variable in your main <em>urls.py</em> module.</p> 
  <p>To make it neat and clear, we choose straightforward paths:</p> 
  <pre><code class="language-python">urlpatterns += [
    path('login', MyLoginView.as_view()),
    path('logout', LogoutView.as_view()),
    path('signup', MySignupView.as_view()),
]</code></pre> 
  <p>Now we need to implement several classes and import them to the <em>urls.py</em> module. We start by making <code class="language-python">MySignupView</code> class.</p> 
  <h2>Signup</h2> 
  <p>You already know how you can create a new user with Python, but regular users don't know Python. We've got to provide a simple web interface for them with an HTML form. Fortunately, making it will only take us a few simple steps, and then our new users will just sign up on their own.</p> 
  <pre><code class="language-python">from django.contrib.auth.forms import UserCreationForm
from django.views.generic import CreateView


class MySignupView(CreateView):
    form_class = UserCreationForm
    success_url = 'login'
    template_name = 'signup.html'</code></pre> 
  <p>To be able to create objects with the HTTP handler, we inherit <code class="language-python">MySignupView</code> class from <code class="language-python">CreateView</code>. We define several attributes that will do the work for us:</p> 
  <ul> 
   <li>The <code class="language-python">form_class</code> attribute is a Django form class. We select <code class="language-python">UserCreationForm</code> from the framework to create a new user.</li> 
   <li>After our users finished registration, they are redirected to the <code class="language-python">success_url</code> page of the service, in our case, to the login page.</li> 
   <li><code class="language-python">template_name</code> is simply the name of a template responsible for the signup page of the service.</li> 
  </ul> 
  <p>We're almost there with preparing our registration form; just add a custom <em>signup.html</em> template and that's it.</p> 
  <pre><code class="language-django">&lt;form method="post" action="signup"&gt;{% csrf_token %}
  &lt;table&gt;{{ form.as_table }}&lt;/table&gt;
  &lt;button type="submit"&gt;Send&lt;/button&gt;
&lt;/form&gt;</code></pre> 
  <p></p>
  <div class="alert alert-warning">
   Do not forget to update 
   <code class="language-python">settings.TEMPLATES.DIRS</code> and add the 
   <em>signup.html</em> template's directory to it.
  </div>
  <p></p> 
  <p>We make a simple form and add it to the template, which is enough for a quick start. The page is cluttered with hints, but it does the job well. Now we have a registration form for the service:</p> 
  <p style="text-align: center;"><img alt="" src="https://ucarecdn.com/7c33a964-4837-4c82-a715-2da2d030fbe7/"></p> 
  <h2>Login</h2> 
  <p>The process of creating a request handler for logging in is very similar to making a registration form. We define the class and specify the <code class="language-python">template_name</code> in it:</p> 
  <pre><code class="language-python">from django.contrib.auth.views import LoginView


class MyLoginView(LoginView):
    redirect_authenticated_user = True
    template_name = 'login.html'</code></pre> 
  <p>This time we add another attribute <code class="language-python">redirect_authenticated_user</code> and set it to <code class="language-python">True</code>. All authenticated users that come back to the <em>login</em> page will be redirected to the main site instead of having to fill the authentication form again.</p> 
  <p>To define where the user should be redirected after successful authentication, we set <code class="language-python">LOGIN_REDIRECT_URL = '/'</code> in the <em>settings.py</em> module. It's usually the main page of the service, but you can choose any page you like.</p> 
  <p>The <em>login.html</em> template differs from <em>signup.html</em> by the <code class="language-python">action</code> field and the label of the button:</p> 
  <pre><code class="language-django">&lt;form method="post" action="login"&gt;{% csrf_token %}
  &lt;table&gt;{{ form.as_table }}&lt;/table&gt;
  &lt;button type="submit"&gt;Login&lt;/button&gt;
&lt;/form&gt;</code></pre> 
  <p>The result is concise and pleasing:</p> 
  <p style="text-align: center;"><img alt="" src="https://ucarecdn.com/5b12f5ad-4adf-4c73-b4e1-22c7050b63c3/"></p> 
  <h2>Logout</h2> 
  <p>The last action our users need is logout. They do not need to send any information, so to log out they should just go to the right URL.</p> 
  <p>You can see that for login and signup we define our custom <code class="language-python">MySignupView</code> and <code class="language-python">MyLoginView</code> classes accordingly. In <code class="language-python">urlpatterns</code> you can find that for logout we use <code class="language-python">LogoutView</code> class from <em>django.contrib.auth.views</em> module. Just import it to the <em>urls.py</em> module to complete the work.</p> 
  <p>If you want to specify where the user should be redirected after logging out, you can define this in the <em>settings.py</em> module. For example, to redirect users back to the login page, add this line to the module: <code class="language-python">LOGOUT_REDIRECT_URL = '/login'</code>.</p> 
  <p>Now you know enough to add authentication to any service, so you can get your hands on personalizing your web service for each individual user.</p>
 </body>
</html>
